In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv("Fifa/CompleteDataset.csv", low_memory=False)
df.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#######drop a column from dataframe
df = df.drop('Unnamed: 0', 1)
#######can also use iloc to remove column
df = df.iloc[:, 1:]

In [16]:
df.info()

In [4]:
df.shape

(17981, 75)

In [17]:
df.describe()

In [18]:
###indexing using index - number
#indexing - [row (start:end), column(start:end)]
df.iloc[0:5,]
df.iloc[5:,]
df.iloc[:, 0]
df.head()

In [19]:
####Indexing Using Labels in Pandas
#row indexing
df_row = df.loc[10:20,]
df_row.head()

In [20]:
#column indexing
df.loc[:5, 'Name']

In [21]:
df.loc[:5, ['Name', 'Nationality']]

In [22]:
#retrieve individual column - multiple ways
#get the first column in the data frame
df.iloc[:, 0]
df.loc[:, "Club"]
df['Club']

In [21]:
#a single column is a series
type(df['RCM'])

pandas.core.series.Series

In [22]:
#create a pandas series
# pandas can contain mixed data type as well
s = pd.Series([1,2, "Tejas", 4, 5, 6, 4])

In [23]:
#create a data frame in pandas

s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(['Alice', 'Bob', 'John', 'Doe', 'Far', 'Extra'])

#each series is a row
df_from_series = pd.DataFrame([s1, s2])

In [25]:
#provide column labels while creating DF


pd.DataFrame(
    [
        [1, 2],
        ['John', 'Doe']
    ],
    columns=["column1", "column2"]
)

  column1 column2
0       1       2
1    John     Doe

In [24]:
##create pandas dataframe from dictionary
# THIS IS OPPOSITE TO THE ABOVE WAY - ABOVE IS Series of Rows of data
df_from_dict = pd.DataFrame({'col 1' : [1, 'John'], 'col 2' : [2, 'Doe']})
df_from_dict

In [25]:
#df.count()

In [12]:
df['Age'].mean()

25.144541460430453

In [13]:
#Boolean indexing
df_gr = df['Age'] < df['Age'].mean()
filtered_df = df[df_gr]
filtered_df.shape

(10117, 75)

In [26]:
# plot wage distribution for Real Madrid CF                  FC Barcelona
%matplotlib inline
df_filtered = (df['Club'] == 'Real Madrid CF')
df_RM = df[df_filtered]
#df_RM['Age']
df_RM['Age'].plot(kind = 'hist')

In [27]:
df_filtered = (df['Club'] == 'FC Barcelona')
df_B = df[df_filtered]
df_B['Age'].plot(kind = 'hist')

In [14]:
##Find unique values in dataframe column
df['Club'].unique().size

648

In [28]:
df['Club'].value_counts(dropna = False)

In [72]:
### Change column type to numeric

## Convert Series datatype to numeric (will error if column has non-numeric values)
#pd.to_numeric(df['Column Name'])

# Convert Series datatype to numeric, changing non-numeric values to NaN
df['Volleys_df'] = df['Volleys']
pd.to_numeric(df['Volleys_df'], errors='coerce')

In [62]:
## Get all dataframe rows for a specific column
df.loc[:,'Name']

df.columns.values

array(['Unnamed: 0', 'Name', 'Age', 'Photo', 'Nationality', 'Flag',
       'Overall', 'Potential', 'Club', 'Club Logo', 'Value', 'Wage',
       'Special', 'Acceleration', 'Aggression', 'Agility', 'Balance',
       'Ball control', 'Composure', 'Crossing', 'Curve', 'Dribbling',
       'Finishing', 'Free kick accuracy', 'GK diving', 'GK handling',
       'GK kicking', 'GK positioning', 'GK reflexes', 'Heading accuracy',
       'Interceptions', 'Jumping', 'Long passing', 'Long shots', 'Marking',
       'Penalties', 'Positioning', 'Reactions', 'Short passing',
       'Shot power', 'Sliding tackle', 'Sprint speed', 'Stamina',
       'Standing tackle', 'Strength', 'Vision', 'Volleys', 'CAM', 'CB',
       'CDM', 'CF', 'CM', 'ID', 'LAM', 'LB', 'LCB', 'LCM', 'LDM', 'LF',
       'LM', 'LS', 'LW', 'LWB', 'Preferred Positions', 'RAM', 'RB', 'RCB',
       'RCM', 'RDM', 'RF', 'RM', 'RS', 'RW', 'RWB', 'ST'], dtype=object)

In [56]:
###Iterate over rows
for index, row in df.iterrows():
    print(index, row)

##Iterate using tuples    
for row in df.itertuples():
    print(row)

In [57]:
del df['Volleys_df']

In [64]:
##column name as string
print((df.Volleys.name)

<class 'str'>

In [71]:
#df.where((pd.notnull(df)))
len(df)

17981

In [78]:
##Create new column from other columns
df['Name_Age'] = df['Name'].astype(str) + df['Age'].astype(str)